#wrapper {
    margin: 0px auto;
    width: 360px;
}

@viewport {
    width: 480px;
    zoom: 1;
}

header, main, footer, nav {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #CCCCCC;
    height: 80px;
    display: flex;
    align-items: center;
}

#hamburger {
    display: flex;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url(../images/Ham_Icon.png);
}

#bell {
    display: flex;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url(../images/Notifications_None_Icon.png);
}

#search {
    display: flex;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url(../images/Search_Icon.png);
}

header a {
    width: 119px;
    height: 119px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/logo.png');
}

#listPage main {
    width: 360px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    display: inline;
}

#h1Section {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 33px;
    margin-top: 7px;
}

#hImg {
    height: 33px;
    width: 33px;
    border-radius: 100%;
    margin: 8px;
    background-image: url(../images/liatIcon.png);
}

/* List of main page by generic order */

#list {
    margin-top: 20px;
}

#myParkingList {
    flex: 1;
    order: 1;
}

#familyParkingList {
    flex: 1;
    order: 2;
}

#friendsParkingList {
    flex: 1;
    order: 3;
}

#addParking {
    background-color: #CCCCCC;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/P+.png");
}

#edit {
    display: flex;
    width: 26px;
    height: 26px;
    float: right;
    background-image: url(../images/Edit_Icon.png);
}

.rectangle {
    color: #FFFFFF;
    display: flex;
    width: 338px;
    height: 82px;
    background-color: #555555;
    border-radius: 8px;
    margin-bottom: 8px;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

.line {
    background-color: #CCCCCC;
    height: 1px;
}

#none {
    text-align: center;
    color: #CCCCCC;
}

.trafficLight {
    display: flex;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    border-radius: 10px;
    justify-content: center;
}

#occ {
    background-color: #E61610;
}

#att {
    background-color: #FF6624;
}

#free {
    background-color: #92D36E;
}

.user {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

#liat {
    background-image: url(../images/liat.png);
}

#yoni {
    background-image: url(../images/yoni.png);
}

#tom {
    background-image: url(../images/tom.png);
}

#carAndVid {
    display: flex;
}

#carInfo {
    width: 227px;
    height: 121px;
    background-image: url("../images/car.png");
    background-repeat: no-repeat;
}

#camSwitch {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../images/Flip_Camera_Icon.png");
}

.parkingRec {
    display: flex;
    height: 65px;
    width: 338px;
    border-radius: 8px;
    margin-bottom: 8px;
    align-items: center;
    background-color: #777777;
    color: #FFFFFF;
}

.arrow {
    width: 30px;
    height: 30px;
    background-image: url("../images/arrow.png");
}

#action {
    width: 53px;
    height: 53px;
    background-image: url("../images/actions.png");
}

#analysis {
    width: 60px;
    height: 60px;
    background-image: url("../images/analysis.png");
}

#members {
    width: 74px;
    height: 74px;
    background-image: url("../images/members.png");
}

#cars {
    width: 62px;
    height: 62px;
    background-image: url("../images/cars.png");
}

#events {
    width: 57px;
    height: 57px;
    background-image: url("../images/events.png");
}