#wrapper {
    margin: 0px auto;
    width: 360px;
}
@viewport {
    width: 480px;
    zoom: 1;
}
header, main, footer, nav {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #CCCCCC;
    height: 80px;
    display: flex;
    /* justify-content:center; */
    align-items:center;
}
header a {
    width: 119px;
    height: 119px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/logo.png');
}
#listPage main {
    width: 360px;
    margin-top:7px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    font-size:24px;
    display: inline;
}
h2 {
    font-size:24px;
    font-weight: normal;
    display: inline;
}
#h1Section {
    width: 100%;
    text-align: center;
}
/* List of main page by generic order */
#list {
    
}
#myParkingList {
    flex:1;
    order:1;
}
#familyParkingList {
    flex:1;
    order:2;
}
#friendsParkingList {
    flex:1;
    order:3;
}
.ellipse{
    background-color: #CCCCCC;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: inline-flex;
    top:10px;
    font-size: 22px;
    font-weight:600;
    justify-content: center;
    align-items: center;
}
#plus {
    font-size: 10px;
    float: right;
    margin-top:-15px;
}